@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');
body {
    font-family: 'JetBrains Mono', monospace;
    background: linear-gradient(45deg, #ff0077, #23d5d5, #2370d5);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100%;
    min-height: 380px;
    overflow-y: hidden;
}

.app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    flex-wrap: nowrap;
    min-width: 350px;
}

.titulo {
    font-size: 60px;
    margin: 25px;
    color: #000;
    font-weight: bold;
}

.paragrafoImposto {
    padding: 0 15%;
    color: #000;
    font-size: 25px;
}

.containerOpcoes {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.opcoes {
    border-radius: 30px;
    padding: 20px;
    width: 200px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-decoration: none;
    color: #000;
    font-weight: bold;
    font-size: 25px;
    margin: 20px;
    background: #ffffffbf;
    box-shadow: 0 0 1em #747474;
    transition: 0.3s transform ease-in-out;
}

.opcoes p {
    margin: 0;
}

.opcoes:hover {
    transform: scale(1.05);
}

.fa-coins {
    color: #e3c700;
    margin-bottom: 10px;
    font-size: 40px;
}

.fa-newspaper {
    color: #7c7c7c;
    margin-bottom: 10px;
    font-size: 40px;
}

.fa-users {
    margin-bottom: 10px;
    font-size: 40px;
}

.fa-hand-holding-dollar {
    color: #000;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@media screen and (max-height: 1000px) {
    body {
        overflow-y: auto;
    }
}

@media screen and (min-height: 800px) {
    .app {
        margin-top: 5%;
        margin-bottom: 5%;
    }
}

@media screen and (max-width: 1005px) {
    .opcoes {
        width: 200px;
        height: 150px;
        font-size: 20px;
        margin: 15px;
    }
}

@media screen and (max-width: 885px) {
    .titulo {
        font-size: 40px;
    }
}

@media screen and (max-width: 825px) {
    .paragrafoImposto {
        text-align: justify;
        font-size: 20px;
    }
    .opcoes {
        width: 150px;
        height: 100px;
        font-size: 15px;
        margin: 10px;
    }
}

@media screen and (max-width:645px) {
    .opcoes {
        width: 100%;
        height: 40px;
        font-size: 15px;
        margin: 10px;
        align-items: center;
        flex-direction: row;
    }
    .opcoes p {
        margin: 0 10px;
    }
    .fa-solid {
        margin: 0;
    }
}

@media screen and (max-width:590px) {
    .titulo {
        font-size: 27px;
    }
}

@media screen and (max-width: 525px) {
    .paragrafoImposto {
        text-align: justify;
        font-size: 15px;
    }
}

@media (min-width:320px) {
    /* smartphones, iPhone, portrait 480x320 phones */
}

@media (min-width:481px) {
    /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
}

@media (min-width:641px) {
    /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
}

@media (min-width:961px) {
    /* tablet, landscape iPad, lo-res laptops ands desktops */
}

@media (min-width:1025px) {
    /* big landscape tablets, laptops, and desktops */
}

@media (min-width:1281px) {
    /* hi-res laptops and desktops */
}


/*
.opcoes {
        width: 100%;
        height: 40px;
        font-size: 15px;
        margin: 10px;
        align-items: center;
    }
    .opcoes p {
        margin: 0
    }
    .fa-solid {
        margin: 0;
    }
*/
